<div class="education section">
    <h1>education</h1>
    <h1><i class="fa fa-graduation-cap"></i></h1>
    <div class="summary">
        <p>
            During my University education, I have focused on Computer Science, linguistics, and foreign language and culture studies.
        </p>
        <a class="button" href="{% url 'contact.main' %}"><i class="fa fa-send"></i> request more details</a>
    </div>
    {% comment %}
    <div class="school">
        <div class="info">
            <div class="name">Computer Science</div>
            <div class="department">University of Example</div>
            <div class="dates">2009 - 2013</div>
        </div>
        <div class="description">
            Description of education at school.
        </div>
    </div>
    {% endcomment %}
</div>