<div class="positions section">
    <h1>positions</h1>
    <h1><i class="fa fa-briefcase"></i></h1>
    <div class="summary">
    	<p>
    		I've been developing software and websites professionally since 2008.
    	</p>
    	<p>
    		Contact me for access to a detailed history of my work.
    	</p>
    	<a class="button" href="{% url 'contact.main' %}"><i class="fa fa-send"></i> request more details</a>
    	<p>
    		You can also <a href="{% url 'webdev.main' %}#recent-work">check out my recent work</a>.
    	</p>
    </div>
    {% comment %}
    <div class="position">
    	<div class="info">
    		<div class="title">Software Engineer</div>
    		<div class="company">Some Company</div>
    		<div class="dates">March 2010 - July 2013</div>
    	</div>
    	<div class="description">
    		Develop large-scale intranet and SaaS applications within a service-oriented architecture.  
    		Work primarily in ASP.NET, with C#, SQL, WCF services, and MVC framework.
    	</div>
    </div>
    <div class="position">
        <div class="info">
            <div class="title">Software Engineer</div>
            <div class="company">Some Company</div>
            <div class="dates">March 2010 - July 2013</div>
        </div>
        <div class="description">
            Develop large-scale intranet and SaaS applications within a service-oriented architecture.  
            Work primarily in ASP.NET, with C#, SQL, WCF services, and MVC framework.
        </div>
    </div>
    {% endcomment %}
</div>