<div class="positions section">
    <h1>positions</h1>
    <h1><i class="fa fa-briefcase"></i></h1>
    {% if user.is_authenticated %}
        {% for position in positions %}
	    <div class="position">
	        <div class="info">
	            <div class="title">{{ position.title }}</div>
	            <div class="company">{{ position.company }}</div>
	            <div class="dates">
	            	<span class="nobreak">{{ position.start_date|date:'F Y' }}</span> - 
	            	<span class="nobreak">{% if not position.end_date %}Present{% else%}{{ position.end_date|date:'F Y' }}{% endif %}</span>
	            </div>
	        </div>
	        <div class="description markdown">
	            {{ position.render_description|safe }}
	        </div>
	    </div>
	    {% endfor %}
    {% else %}
    <div class="summary">
    	<p>
    		I've been developing software and websites professionally since 2008.
    	</p>
    	<a class="button" href="{% url 'contact.main' %}"><i class="fa fa-send"></i> request more details</a>
    	<p>
    		You can also <a href="{% url 'webdev.main' %}#recent-work">check out my recent work</a>.
    	</p>
    </div>
    {% endif %}
</div>