/* line 17, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: syncopate;
  src: url("/static/fonts/syncopate/Syncopate-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: syncopate;
  src: url("/static/fonts/syncopate/Syncopate-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: raleway;
  src: url("/static/fonts/raleway/Raleway-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: raleway;
  src: url("/static/fonts/raleway/Raleway-Italic.otf");
  font-weight: normal;
  font-style: italic;
}

/*** Color definitions ***/
/**************************/
/*** constants ***/
/*****************/
/******************
 * Shared elements
 */
/* line 30, ../../compass/sass/screen.scss */
html {
  box-sizing: border-box;
  font-size: 24px;
  line-height: 26px;
  background: #fff;
}

/* line 37, ../../compass/sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 41, ../../compass/sass/screen.scss */
.fa {
  box-sizing: content-box;
}

/* line 45, ../../compass/sass/screen.scss */
body {
  background: #fff;
  font-family: raleway, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* line 52, ../../compass/sass/screen.scss */
.gutters, .maincontent {
  border-width: 0 15px;
  border-color: #fff;
  border-style: solid;
}

/* line 58, ../../compass/sass/screen.scss */
h1 {
  font-family: syncopate, arial, helvetica, sans-serif;
  font-size: 3.95rem;
  text-align: center;
  line-height: 3.95rem;
  margin: 2.5rem 0;
}

/* line 65, ../../compass/sass/screen.scss */
h2 {
  font-family: inherit;
  font-size: 2rem;
  line-height: 2rem;
}

/* line 70, ../../compass/sass/screen.scss */
h3 {
  font-family: inherit;
  font-size: 1.33rem;
  line-height: 1.33rem;
}

/* line 76, ../../compass/sass/screen.scss */
.section {
  color: #dce7fb;
  font-family: raleway, arial, helvetica, sans-serif;
  clear: both;
  overflow: hidden;
  border-bottom: 15px solid white;
  padding-bottom: 2rem;
}
/* line 84, ../../compass/sass/screen.scss */
.section.column {
  clear: none;
}

/* line 89, ../../compass/sass/screen.scss */
.button {
  background: #1a52c0;
  color: #dce7fb;
  width: 100%;
  padding: 0 7%;
  display: block;
  line-height: 2rem;
  margin: 1rem 0;
}

/* line 99, ../../compass/sass/screen.scss */
a.button {
  text-decoration: none;
}

/* line 103, ../../compass/sass/screen.scss */
header {
  width: 100%;
  text-align: center;
  color: #0e1c38;
  padding: 15px;
  font-family: syncopate, arial, sans-serif;
  height: 85px;
}
/* line 111, ../../compass/sass/screen.scss */
header h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
  line-height: 1.25rem;
}
/* line 118, ../../compass/sass/screen.scss */
header h2 {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin: 0;
}

/* line 125, ../../compass/sass/screen.scss */
nav {
  border-right: 15px solid white;
  width: 25%;
  height: calc(100% - 85px);
  position: absolute;
  top: 85px;
  right: 0;
  transition: opacity 0.25s ease;
  opacity: 1;
  color: #dce7fb;
}
/* line 136, ../../compass/sass/screen.scss */
nav a {
  width: 100%;
  height: calc(25% - 15px);
  margin-bottom: 15px;
  display: block;
  background: #1a52c0;
  text-align: center;
  color: inherit;
  font-size: 5rem;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 150, ../../compass/sass/screen.scss */
nav a i.fa {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin: auto;
  width: 100%;
  height: 500px;
  line-height: 500px;
  margin-top: calc(-250px);
  display: block;
}
/* line 162, ../../compass/sass/screen.scss */
nav a b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  opacity: 0.0;
  transition: opacity 0.25s ease;
  background: rgba(14, 28, 56, 0.65);
  padding: 6%;
  text-align: center;
  font-size: 2rem;
}
/* line 177, ../../compass/sass/screen.scss */
nav a:hover b {
  transition: opacity 0.25s ease;
  opacity: 1.0;
}
/* line 184, ../../compass/sass/screen.scss */
nav.docked {
  position: fixed;
  top: 0;
  transition: opacity 0.25s ease;
  opacity: 0.5;
}

/* line 192, ../../compass/sass/screen.scss */
.maincontent {
  width: 75%;
  float: left;
  overflow: auto;
}

/* line 199, ../../compass/sass/screen.scss */
.column {
  float: left;
  min-height: 500px;
}
/* line 203, ../../compass/sass/screen.scss */
.column.gr-small, .position .column.info, .school .column.info {
  width: calc(38% - 15px);
  margin-right: 15px;
}

/* line 209, ../../compass/sass/screen.scss */
.gr-small, .position .info, .school .info {
  width: 38%;
}

/* line 213, ../../compass/sass/screen.scss */
.gr-large, .position .description, .school .description {
  width: 62%;
}

/**************************/
/********************************
 * About (home) page styles
 */
/* line 5, ../../compass/sass/_about.scss */
.bio {
  background: #0b2e74;
  color: #dce7fb;
  padding-bottom: 0;
}
/* line 10, ../../compass/sass/_about.scss */
.bio em {
  font-style: italic;
}
/* line 14, ../../compass/sass/_about.scss */
.bio .bio-box {
  padding: 24px 42px;
  line-height: 2rem;
  border-bottom: 15px solid white;
}
/* line 18, ../../compass/sass/_about.scss */
.bio .bio-box:last-of-type {
  border-bottom: none;
}
/* line 21, ../../compass/sass/_about.scss */
.bio .bio-box h2 {
  color: #71c0d3;
}
/* line 24, ../../compass/sass/_about.scss */
.bio .bio-box h3 {
  color: #71c0d3;
  font-size: 1.25rem;
}
/* line 28, ../../compass/sass/_about.scss */
.bio .bio-box p {
  margin: 20px 0;
}
/* line 33, ../../compass/sass/_about.scss */
.bio .bio-portrait {
  width: 100%;
  background: #fff;
  overflow: auto;
  text-align: center;
  padding-bottom: 15px;
}
/* line 40, ../../compass/sass/_about.scss */
.bio .bio-portrait img {
  margin: auto;
  max-width: 100%;
  display: block;
}
/* line 47, ../../compass/sass/_about.scss */
.bio .bio-talents {
  background: #440e62;
  min-height: 200px;
}
/* line 51, ../../compass/sass/_about.scss */
.bio .bio-talents li {
  padding-left: 1.2em;
}
/* line 54, ../../compass/sass/_about.scss */
.bio .bio-talents li:before {
  content: '';
  color: #71c0d3;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.2em;
  width: 1.2em;
}

/* line 66, ../../compass/sass/_about.scss */
.expertise {
  background: #0b2e74;
}
/* line 69, ../../compass/sass/_about.scss */
.expertise .area {
  padding: 0 10% 6% 50%;
  position: relative;
}
/* line 73, ../../compass/sass/_about.scss */
.expertise .area i.fa, .expertise .area .coding-graph {
  display: block;
  position: absolute;
  top: 0;
  right: 55%;
}
/* line 80, ../../compass/sass/_about.scss */
.expertise .area i.fa {
  font-size: 7.8rem;
  opacity: 0.2;
}
/* line 86, ../../compass/sass/_about.scss */
.expertise .area h2 {
  margin-bottom: 0.5rem;
}
/* line 90, ../../compass/sass/_about.scss */
.expertise .area .coding-graph {
  width: 40%;
}
/* line 94, ../../compass/sass/_about.scss */
.expertise .area .coding-graph .step {
  text-align: right;
  color: #0e1c38;
  width: 100%;
  padding: 0 3%;
  font-size: 0.7rem;
  float: right;
  line-height: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  word-break: break-all;
}
/* line 106, ../../compass/sass/_about.scss */
.expertise .area .coding-graph .step i {
  display: block;
  float: left;
}
/* line 111, ../../compass/sass/_about.scss */
.expertise .area .coding-graph .step.beginning {
  background: #dce7fb;
}
/* line 114, ../../compass/sass/_about.scss */
.expertise .area .coding-graph .step.education {
  background: #71c0d3;
  width: 80%;
}
/* line 118, ../../compass/sass/_about.scss */
.expertise .area .coding-graph .step.pro {
  background: #1a52c0;
  color: #dce7fb;
  width: 50%;
}

/* line 128, ../../compass/sass/_about.scss */
.summary {
  width: 100%;
  padding: 0 20%;
  text-align: center;
}
/* line 133, ../../compass/sass/_about.scss */
.summary a.button {
  width: auto;
  display: inline-block;
  color: #0e1c38;
  background: #dce7fb;
}
/* line 140, ../../compass/sass/_about.scss */
.summary a {
  text-decoration: none;
  color: #71c0d3;
}

/* line 145, ../../compass/sass/_about.scss */
.position, .school {
  width: 100%;
  padding: 0 20%;
  overflow: auto;
  margin-bottom: 2rem;
}
/* line 151, ../../compass/sass/_about.scss */
.position .info, .school .info {
  float: left;
  text-align: right;
  font-size: 1.25rem;
}
/* line 157, ../../compass/sass/_about.scss */
.position .info .title, .position .info .name, .school .info .title, .school .info .name {
  font-weight: bold;
}
/* line 160, ../../compass/sass/_about.scss */
.position .info .dates, .school .info .dates {
  font-size: 1rem;
}
/* line 164, ../../compass/sass/_about.scss */
.position .description, .school .description {
  float: right;
  text-align: left;
  padding-left: 5%;
}

/* line 171, ../../compass/sass/_about.scss */
.positions {
  background: #0e1c38;
}
/* line 174, ../../compass/sass/_about.scss */
.positions .position .description {
  color: #00aeef;
}

/* line 179, ../../compass/sass/_about.scss */
.education {
  background: #ad132c;
  color: #ffe5e9;
}
/* line 184, ../../compass/sass/_about.scss */
.education .summary a.button {
  background: #ffe5e9;
  color: #ad132c;
}
/* line 190, ../../compass/sass/_about.scss */
.education .school .description {
  color: #ffb8b8;
}

/* line 1, ../../compass/sass/_webdev.scss */
.webdev {
  background: #0b2e74;
  overflow: auto;
}
/* line 5, ../../compass/sass/_webdev.scss */
.webdev .column {
  width: 50%;
  padding: 0 4%;
  float: left;
  text-align: center;
}
/* line 11, ../../compass/sass/_webdev.scss */
.webdev .column h2 {
  margin: 1rem 0;
}
/* line 14, ../../compass/sass/_webdev.scss */
.webdev .column h2 i.fa {
  font-size: 3.6rem;
}
/* line 19, ../../compass/sass/_webdev.scss */
.webdev .column p {
  color: #00aeef;
}
/* line 23, ../../compass/sass/_webdev.scss */
.webdev .column .tool {
  margin-bottom: 1rem;
}

/* line 29, ../../compass/sass/_webdev.scss */
.recent-work {
  background: #0e1c38;
  overflow: auto;
  padding-bottom: 0;
}
/* line 34, ../../compass/sass/_webdev.scss */
.recent-work .column {
  float: left;
  padding: 0 4%;
  overflow: auto;
  margin-bottom: 3rem;
}
/* line 40, ../../compass/sass/_webdev.scss */
.recent-work p, .recent-work ul {
  color: #00aeef;
}
/* line 43, ../../compass/sass/_webdev.scss */
.recent-work li {
  padding-left: 1.2em;
}
/* line 46, ../../compass/sass/_webdev.scss */
.recent-work li:before {
  content: '';
  display: inline-block;
  font-family: FontAwesome;
  width: 1.2em;
  margin-left: -1.2em;
  color: #39b54a;
}
/* line 56, ../../compass/sass/_webdev.scss */
.recent-work .info h2 {
  font-size: 1.33rem;
}
/* line 59, ../../compass/sass/_webdev.scss */
.recent-work .info h3 {
  font-size: 1rem;
}
/* line 63, ../../compass/sass/_webdev.scss */
.recent-work .subsection {
  margin-bottom: 2rem;
}
/* line 66, ../../compass/sass/_webdev.scss */
.recent-work .screenshot img {
  width: 100%;
}
/* line 69, ../../compass/sass/_webdev.scss */
.recent-work .thumbnails {
  background: #333;
  clear: both;
  padding: 3% 6%;
  overflow: auto;
  width: 100%;
}
/* line 76, ../../compass/sass/_webdev.scss */
.recent-work .thumbnails .thumbnail {
  width: 25%;
  float: left;
  position: relative;
  box-sizing: content-box;
}
/* line 81, ../../compass/sass/_webdev.scss */
.recent-work .thumbnails .thumbnail:before {
  content: "";
  display: block;
  padding-top: 100%;
}
/* line 87, ../../compass/sass/_webdev.scss */
.recent-work .thumbnails .thumbnail a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  box-sizing: border-box;
  border: 1em solid #333;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  background-size: contain;
}
/* line 102, ../../compass/sass/_webdev.scss */
.recent-work .thumbnails .thumbnail img {
  height: auto;
  width: 100%;
  position: relative;
}

/* line 1, ../../compass/sass/_enterprise.scss */
.enterprise {
  background: #0b2e74;
}
/* line 4, ../../compass/sass/_enterprise.scss */
.enterprise .tools {
  margin-bottom: 3rem;
  width: 50%;
  float: left;
  text-align: center;
  padding: 0 4%;
}
/* line 11, ../../compass/sass/_enterprise.scss */
.enterprise .tools:nth-child(2n) {
  clear: left;
}
/* line 15, ../../compass/sass/_enterprise.scss */
.enterprise .tools h2 {
  margin: 1rem 0;
}
/* line 18, ../../compass/sass/_enterprise.scss */
.enterprise .tools h2 .fa {
  font-size: 4rem;
}
/* line 23, ../../compass/sass/_enterprise.scss */
.enterprise .tools p {
  color: #00aeef;
}
