/* line 17, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: syncopate;
  src: url("/static/fonts/syncopate/Syncopate-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: syncopate;
  src: url("/static/fonts/syncopate/Syncopate-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: raleway;
  src: url("/static/fonts/raleway/Raleway-Regular.otf");
  font-weight: normal;
}

/*** Color definitions ***/
/**************************/
/*** constants ***/
/*****************/
/* line 18, ../../compass/sass/screen.scss */
html {
  box-sizing: border-box;
  font-size: 24px;
  line-height: 26px;
  background: #fff;
}

/* line 25, ../../compass/sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 29, ../../compass/sass/screen.scss */
body {
  background: #fff;
  font-family: raleway, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* line 36, ../../compass/sass/screen.scss */
.gutters, .maincontent {
  border-width: 0 15px;
  border-color: #fff;
  border-style: solid;
}

/* line 42, ../../compass/sass/screen.scss */
header {
  width: 100%;
  text-align: center;
  color: #0e1c38;
  padding: 15px;
  font-family: syncopate, arial, sans-serif;
  height: 85px;
}
/* line 50, ../../compass/sass/screen.scss */
header h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
  line-height: 1.25rem;
}
/* line 57, ../../compass/sass/screen.scss */
header h2 {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin: 0;
}

/* line 64, ../../compass/sass/screen.scss */
nav {
  border-right: 15px solid white;
  width: 25%;
  height: calc(100% - 85px);
  position: absolute;
  top: 85px;
  right: 0;
  transition: opacity 0.25s ease;
  opacity: 1;
}
/* line 74, ../../compass/sass/screen.scss */
nav a {
  width: 100%;
  height: calc(25% - 15px);
  margin-bottom: 15px;
  display: block;
  background: #1a52c0;
}
/* line 82, ../../compass/sass/screen.scss */
nav.docked {
  position: fixed;
  top: 0;
  transition: opacity 0.25s ease;
  opacity: 0.5;
}

/* line 90, ../../compass/sass/screen.scss */
.maincontent {
  width: 75%;
  float: left;
  overflow: auto;
}

/* line 97, ../../compass/sass/screen.scss */
.column {
  float: left;
  min-height: 500px;
}
/* line 101, ../../compass/sass/screen.scss */
.column.gr-small {
  width: calc(38% - 15px);
  margin-right: 15px;
}

/* line 107, ../../compass/sass/screen.scss */
.gr-small {
  width: 38%;
}

/* line 111, ../../compass/sass/screen.scss */
.gr-large {
  width: 62%;
}

/* line 115, ../../compass/sass/screen.scss */
h1 {
  font-family: syncopate, arial, helvetica, sans-serif;
  font-size: 3.95rem;
  text-align: center;
  line-height: 3.95rem;
  margin: 2.5rem 0;
}

/* line 122, ../../compass/sass/screen.scss */
h2 {
  font-family: inherit;
  font-size: 2rem;
  line-height: 2rem;
}

/* line 128, ../../compass/sass/screen.scss */
.section {
  color: #dce7fb;
  font-family: raleway, arial, helvetica, sans-serif;
}

/* line 133, ../../compass/sass/screen.scss */
.bio {
  background: #0b2e74;
  color: #dce7fb;
}
/* line 137, ../../compass/sass/screen.scss */
.bio .bio-portrait {
  width: 100%;
  background: #fff;
  overflow: auto;
  text-align: center;
  padding-bottom: 15px;
}
/* line 144, ../../compass/sass/screen.scss */
.bio .bio-portrait img {
  margin: auto;
  max-width: 100%;
  display: block;
}
/* line 151, ../../compass/sass/screen.scss */
.bio .bio-text {
  padding: 24px 42px;
  line-height: 2rem;
}
/* line 155, ../../compass/sass/screen.scss */
.bio .bio-text h2 {
  color: #71c0d3;
}
/* line 159, ../../compass/sass/screen.scss */
.bio .bio-text p {
  margin: 20px 0;
}

/* line 165, ../../compass/sass/screen.scss */
.expertise {
  background: #0b2e74;
}
/* line 168, ../../compass/sass/screen.scss */
.expertise .area {
  padding: 0 10% 6% 50%;
  position: relative;
}
/* line 172, ../../compass/sass/screen.scss */
.expertise .area i.fa, .expertise .area .coding-graph {
  display: block;
  position: absolute;
  top: 0;
  right: 55%;
}
/* line 179, ../../compass/sass/screen.scss */
.expertise .area i.fa {
  font-size: 7.8rem;
  opacity: 0.2;
}
/* line 185, ../../compass/sass/screen.scss */
.expertise .area h2 {
  margin-bottom: 0.5rem;
}
/* line 189, ../../compass/sass/screen.scss */
.expertise .area .coding-graph {
  width: 40%;
}
/* line 193, ../../compass/sass/screen.scss */
.expertise .area .coding-graph .step {
  text-align: right;
  color: #0e1c38;
  width: 100%;
  padding: 0 3%;
  font-size: 0.7rem;
  float: right;
  line-height: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  word-break: break-all;
}
/* line 205, ../../compass/sass/screen.scss */
.expertise .area .coding-graph .step i {
  display: block;
  float: left;
}
/* line 210, ../../compass/sass/screen.scss */
.expertise .area .coding-graph .step.beginning {
  background: #dce7fb;
}
/* line 213, ../../compass/sass/screen.scss */
.expertise .area .coding-graph .step.education {
  background: #71c0d3;
  width: 80%;
}
/* line 217, ../../compass/sass/screen.scss */
.expertise .area .coding-graph .step.pro {
  background: #1a52c0;
  color: #dce7fb;
  width: 50%;
}

/* line 227, ../../compass/sass/screen.scss */
.button {
  background: #1a52c0;
  color: #dce7fb;
  width: 100%;
  padding: 0 7%;
  display: block;
  line-height: 2rem;
  margin: 1rem 0;
}

/* line 237, ../../compass/sass/screen.scss */
a.button {
  text-decoration: none;
}
