<div id="recent-work" class="recent-work section">
    <h1>recent work</h1>
    <div class="info column gr-small">
    	<div class="subsection">
	    	<h2>Site Name</h2>
	    	<p>
	    		Some important details about this site and my work on it.
	    	</p>
	    </div>
	    <div class="subsection">
	    	<h3>Project Involvement</h3>
	    	<ul class="involvement">
	    		<li>HTML</li>
	    		<li>CSS</li>
	    		<li>Javascript</li>
	    	</ul>
	    </div>
    </div>
    <div class="screenshot column gr-large">
    	<img src="/static/images/test-rect.jpg" alt="" />
    </div>
    <div class="thumbnails">
    	<div class="thumbnail">
    		<a href="#" style="background-image: url('/static/images/test-rect.jpg');"></a>
    	</div>
    	<div class="thumbnail">
            <a href="#" style="background-image: url('/static/images/test-rect.jpg');"></a>
        </div>
        <div class="thumbnail">
            <a href="#" style="background-image: url('/static/images/test-rect.jpg');"></a>
        </div>
        <div class="thumbnail">
            <a href="#" style="background-image: url('/static/images/test-rect.jpg');"></a>
        </div>
        <div class="thumbnail">
            <a href="#" style="background-image: url('/static/images/test-rect.jpg');"></a>
        </div>
        <div class="thumbnail">
            <a href="#" style="background-image: url('/static/images/test-rect.jpg');"></a>
        </div>
    </div>
</div>