{% extends "base.html" %}

{% block maincontent %}
<div class="enterprise section">
    <h1>enterprise</h1>
	<div class="tools">
	   <h2>SOA</h2>
	   <h2><i class="fa fa-cloud"></i></h2>	
	   <p>
	       I have experience developing apps and services within a service-oriented architecture 
	       (.NET/C# WCF Services, Java Web Services)	
	   </p>
	</div>
	<div class="tools">
        <h2>databases</h2>
        <h2><i class="fa fa-database"></i></h2>
        <p>
            I work primarily with Oracle and SQL Server databases for larger scale services, as well
            as MySQL and PostgreSQL (web services and applications).  I am as comfortable working
            from an SQL command-line shell as I am using a database management GUI.
        </p>
    </div>
	<div class="tools">
        <h2>dev tools</h2>
        <h2><i class="fa fa-keyboard-o"></i></h2>
        <p>
            I use Visual Studio, Eclipse/Aptana, vim, bash, and various SQL management software to develop 
            C#, Java, SQL, and other languages in the enterprise.  I collaborate using Git, SVN, and TFS
            version control systems.
        </p>
    </div>
    <div class="tools">
        <h2>automation</h2>
        <h2><i class="fa fa-cogs"></i></h2>
        <p>
            I use tools such as Ant, NAnt, Phing, MSBuild, and sometimes plain old bash or python scripts 
            to automate building, testing, and deployment of software.	
        </p>
    </div>
</div>
{% endblock maincontent %}